.container
  = link_to '←', root_path
  %br/
  .profile-top
    %p.account-name= @user.account_name
    = form_with(model: @profile, url: profile_path(@user), method: 'put', local: true) do |f|
      %div
        - f.label :avatar, 'アバター'
        - if @user.avatar&.attached?
          = image_tag @user.profile.avatar_image, class: 'avatar-img'
        - else
          = image_tag "default-avatar.png", class: "avatar-img"
        = f.file_field :avatar
        %br/
        = f.submit 'change', class: 'btn-primary'
  - @user.articles.each do |article|
    = article.content
    %br/
