 <%= image_tag "top-img.jpg", class: "top-img" %>
<div class="container">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text"  %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "text"  %>
    </div>
    <p>Forgot password?</p>

    <div class="actions">
      <%= f.submit "LOGIN", class: "btn-primary" %>
    </div>
  <% end %>

  <%= link_to 'CREATE ACCOUNT', new_user_registration_path, class: "btn-secondary" %>

</div>