.container
  = link_to 'â†', root_path
  %br/
  .profile-top
    %p.account-name= @user.account_name

    %div
      - if @user.avatar&.attached?
        = image_tag @user.profile.avatar_image, class: 'avatar-img'
      - else
        = image_tag "default-avatar.png", class: "avatar-img"
    %br/

  - @user.articles.each do |article|
    = article.content
    %br/